/* This is a comment */

/* format
selected tag{
    property: value;
} 

e.g- 
h1{
    color: blue;
} */

body{
    background: url(employee-training.png);
    background-repeat: no-repeat;
}

h1{
    color: honeydew;
}


div{
    background-color: aliceblue;
    border-color: midnightblue;
    border-radius: 0.41cm;
    border-width: thick;
    border-style: double;
}

span{
    background-color: firebrick;
    color: antiquewhite;
}