/* 
# - for id mention



*/


/* #form{
    /align: center 
    padding: 50px / 
    background-color: rgb(252, 194, 120) 
    font 1em sans-serif 
    font-size large
}

align="center" 
style=" padding: 50px; background-color: rgb(252, 194, 120); 
font: 1em sans-serif; font-size: large;"

*/

body{
    margin: 50px;
    display: flow-root;
}

#form{
    padding: 50px;
    background-color: rgb(252, 194, 120);
    font: 1em sans-serif;
    font-size: large;
}

#p1{
    color: blue;
}

#p2{
    color: brown;
    font-size: 1.5em;
}

#p3{
    color: rebeccapurple;
    font-weight: bold;
    font-style: italic;
}

#p4{
    color: green;
    font-size: larger;
}

.even{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.odd{
    font: 1em sans-serif;
}

#hf1{
    font-family: "Anta", sans-serif;
    font-size: 1.5em;
}
#hf2{
    font-family: "Joro", sans-serif;
    font-size: 1em;
}
#hf3{
    font-family: "poetsen one", sans-serif;
    font-size: 2em;
}
#hf4{
    font-family: "Jacquard 12", system-ui;
    font-size: 4.5em;
}

#hf3b{
    font-family: "poetsen one", sans-serif;
    font-size: 2em;
    border-style: solid;
    border-color: blue;
    border-radius: 30px;
    border-width: 10px;
    border-top-style: dotted;
    border-block-end-style: dashed;
    border-bottom-color: darkred;
}

#hf4b{
    font-family: "jacquard 12", system-ui;
    font-size: large;
    border: 7px solid rgb(7, 0, 73) ;
    border-radius: 25px;
    border-left-style: dotted;
    border-right-style: groove;
    border-bottom-style: outset;
}

#p3b{
    font-family: "Joro", sans-serif;
    font-size: 4em;
    border: 7px solid rgb(7, 0, 73) ;
    border-radius: 25px;
    border-left-style: initial;
    border-right-style: inherit;
    border-bottom-style: outset;
}

#p4b{
    font-family: "jacquard 12", system-ui;
    font-size: 4em;
    border: 7px solid rgb(7, 0, 73) ;
    border-radius: 25px;
    border-left-style: dotted;
    border-right-style: groove;
    border-bottom-style: double;
}

/* Shadows */

#h1sh{
    font-family: "jacquard 12", system-ui;
    font-size: 10pc;
    text-shadow: 3px 3px 10px rgb(11, 235, 243), -3px -3px 10px red;
}

#box1{
    width: 150px;
    height: 150px;
    background-color: springgreen;
    box-shadow: 5px 5px 15px;
}

/* Margin */

.boxm{
    font-size: 10em;
    border: 5px solid;
    width: 2.5em;
    height: 2.5em;
}

#boxm1{
    background-color: red;
    margin: auto;
    margin-top: 50px;
}

#boxm2{
    background-color:turquoise;
    margin-left: 950px;
    margin-top: auto;
    margin-bottom: 200px;
}

#boxm3{
    background-color: yellowgreen;
    margin-left: 500px;
    margin-bottom: auto;
}

/* Float */

#lg{
    height: 500px;
    float: left;
    margin-right: 10px;
}

#gate{
    height: 500px;
    float: right;
}

#divf1{
    background-color: gray;
    height: 300px;
    width: 300px;
    margin: auto;    
}

/* Overflow = property that sets the desired behavior
                    when content does not fit in the parent
                    element box.(Overflow)

                    overflow: visible
                    overflow: hidden
                    overflow: clip
                    overflow: scroll
                    overflow: auto  
*/

.divof{
    border: 3px solid;
    height: 75px;
    margin: 50px;
    font-size: 1.2em;
    padding: 10px;
}

#divof1{
    border: 3px solid;
    overflow: auto;
}
#divof2{
    overflow: hidden;
}
#divof3{
    overflow: clip;
    overflow-clip-margin: 13px;
}
#divof4{
    overflow: scroll;
}
#divof5{
    overflow: visible;
}

/* Display = block-level and inline
*/

#divd{
    background-color: crimson;
    height: 250px;
    width: 250px;
    display: block;
}

#spand{
    background-color: teal;
    font-size: 3.5em;
    height: 250px;
    width: 250px;
    display: inline;
    visibility: ;

}

/*  Position:
                relative = positioned relative to where it normally
                fixed = positioned relative to the viewport
                absolute = positioned relative to nearrest ancestor
                sticky = positioned based on scroll position
                static = default position for an element
*/

.divp{
    height: 500px;
    width: 500px;
    margin: 10px;
    padding: 10px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#divp1{
    background-color: aqua;
    position: relative;
    left: 200px;
    top: 100px;
    height: 250px;
    width: 250px;
}
#divp2{
    background-color: rgb(30, 238, 58);
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100px;
    width: 300px;
}

#divpb{
    background-color: gray;
    position: fixed;
    height: 200px;
    width: 200px;
    bottom: 150px;
    right: 0%;

}

#divp3{
    background-color: rgb(233, 217, 0);
    position: absolute;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    top: 15%;
    left: 20%;
}
#divp4{
    background-color: rgb(255, 17, 0);
    position: sticky;
    left: 1000px;
    height: 250px;
    width: 250px;
}
#divp5{
    background-color: rgb(89, 0, 255);
    position: static;
    left: 250px;
    height: 500px;
    width: 500px;
    background-image: url(../Contents/Bmwe36.png); 
    background-size: 3em;
    background-position: 10px;
    background-attachment: fixed;
    /* Background image tag!! */
}

/* Combinators = explains the relationshpi
                        between listed selectors
                            = descendant
                        > = child
                        ~ = general sibiling
                        + = adjecent sibling
                        */
#container{
    border: 2px solid;
}

/* Descendant (space in between element) */
#container p{
    
    border-bottom: 2px dotted;
}

/* > child  */
#container > p{
    font-weight: bold;
}

/* ~ general sibiling */
#container ~ p{
    background-color: yellow;
}

/* + adjecent sibiling */
#container + p{
    background-color: blueviolet;
}

/* Pseudo classes */

#btna:link{
    color: rgb(87, 0, 128);
}

#btna:hover{
    color: rgb(0, 0, 0);
}

#btna::active{
    color: burlywood;
}

#btna:visited{
    color: rgb(253, 58, 237);
}

#btn1:hover{
    height: 100px;
    width: 100px;
    border-color: red;
    background-color: cyan;
}

#ulpc

.lipc:hover{
    background-color:greenyellow;
}

.lipc:not(:hover){
    background-color: grey;
}

.lipc:nth-child(even){
    background-color: rgb(247, 100, 239);
}

#surprise{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    border-style: groove;
    border: 3px solid red;
    padding: 10px;
}

#surprise img{
    display: none;
}

#surprise:hover img{
    display: block;
}

/* Pseudo element = keyword added after a selector that's
                            used to style a specific parts of an element

                            selector::pseudo-element */

#hpe::first-letter{
    font-size: 2em;
    font-style: italic;
}

#ppe::first-line{
    background-color: rgb(123, 246, 255);
}

#ppe::selection{
    color: rgb(214, 104, 241);
    background-color: black;
}

#fruit{
    font-size: 3em;
}

#fruit li::marker{
    content: "✔";
    color: greenyellow;
}

#apple::after{
    content: "🍎";
}

#mango::after{
    content: "🥭";
}

#banana::after{
    content: "🍌";
}

/*  
Pagination = method by which a document is separated into pages,
                        and number are given
*/

.Pagination{
    text-align: center;

}

.Pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}

.Pagination a.pag1{
    background-color: rgb(173, 252, 70);
    font-weight: bold;
}

.Pagination a.pag1:hover{
    background-color: aquamarine;
    border: 3px solid greenyellow;
    
}

.Pagination a:hover:not(.pag1){
    background-color: darkslategrey;
}

/* Dropdown menu
*/
.Dropdown{
    display: inline-block;
}

.Dropdown button{
    background-color: black;
    color: hsl(80, 86%, 59%);
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.Dropdown button:hover{
    background-color:hsl(80, 86%, 59%);
    color: black;
    padding: 10px;
    border: none;
    cursor: progress;
}

.Dropdown a{
    display: block;
    color: black;
    background-color: hsl(86, 82%, 62%);
    text-decoration: none;
    padding: 10px 15px;
}

.Dropdown a:hover{
    background-color: wheat;
}

.Dropdown .ddcontent{
    display: none;
    position: absolute;
    background-color: black;
    color: rgb(202, 255, 97);
    min-width: 100px;
    box-shadow: 3px 3px 15px lightcyan;
}

.Dropdown:hover .ddcontent{
    display: block;
    position: absolute;
    background-color: black;
    color: rgb(202, 255, 97);
    min-width: 100px;
    box-shadow: 3px 3px 15px lightcyan;
}

/* Navigation Bar = 
*/

#navbarh1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: darkolivegreen;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    min-width: 100px;
    max-width: 100px;
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: darkgreen;
}

.navbar li{

}

.mainnb{
    margin: 20px;
}


/* Layout
            semantic tags = Keep your content organized
                            better for SEO
                            assist screen reader and
                            other tech for accessibility

            <header>    = introductory content
            <nav>       = navigation bar links
            <main>      = main content (section, aside, article, div)
            <section>   = dependent content
            <aside>     = side content
            <article>   = independent content
            <footer>    = closing content 
*/

#layouta{
    background-color: tan;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
}

#layouta:hover{
    background-color: bisque;
    border: 2px solid black;
    border-style: groove;
    border-radius: 5px;
}

#layoutbody{
    margin: 0%;
    box-sizing: border-box;
}

#lh1{
    background-color: gainsboro;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.lnav{
    background-color: grey;
    height: 50px;
    box-sizing: border-box;
}

.laside{
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.lsection{
    float: left;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}

.larticle{
    float: left;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}

.lfooter{
    background-color: gainsboro;
    box-sizing: border-box;
    display: block;
    clear: both;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:600px){
    .laside, .lsection, .larticle{
        width: 100%;
    }
}

/* image gallary
*/

.gallery{
    display: inline-block;
    border: 1px solid rgb(71, 0, 0);
    margin: 5px;
}

.gallery .idescription{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    background-color: rgb(202, 90, 90);
    border: 2px solid red;
    font-weight: bold;
}

.gallery img{
    width: 500px;
}

/* Fonts wit script link from fontawesome.com
*/

.icons{
    text-align: center;
    color: darkblue;
}

.icons a{
    text-decoration: none;
}

.fa-solid.fa-10x.fa-house-chimney-user{
    color: rgb(69, 255, 184);
    background-color: darkslategray;
    box-shadow: 0px 0px 15px turquoise;
}

.fa-brands.fa-bitcoin.fa-6x{
    color: darkgoldenrod;
}

.fa-solid.fa-bullhorn.fa-10x{
    color: red;
}

.fa-solid.fa-heart.fa-9x{
    color: red;
}

/* Flex-box
*/

.containerfb{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 2em;
    row-gap: 2em;
}

.boxfb{
    width: 200px;
    height: 200px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#boxfb1{
    background-color: teal;
    align-self:center;
}
#boxfb2{
    background-color: sandybrown;
    order: 1;
}
#boxfb3{
    background-color: crimson;
    order: -1;
}
#boxfb4{
    background-color: darkolivegreen;
}

/*  Transform
    transform: translateX();
    transform: translateY();
    transform: translateZ();
    transform: translate();
    transform: translate3d();
    transform: scale();
    transform: scale3d();
    transform: scaleX();
    transform: scaleY();
    transform: scaleZ();
    transform: skew();
    transform: skewX();
    transform: skewY();
*/

.boxtp{
    width: 250px;
    height: 250px;
    border: 3px solid;
    font-size: 13em;
    text-align: center;
    background-color: springgreen;

    transform: translate(50%, 50%);
    transform: rotateZ(330deg);
    transform: skewY(140deg, 45deg);
    
}

#boxtp1{
    background-color: springgreen;
}

#boxtp2{
    background-color: royalblue;
}

#boxtp3{
    background-color:rgb(202, 255, 97);
}

#boxtp4{
    background-color: magenta;
}

#vpimg{
    width: 1000px;
}

#vpimg{
    transform: translateX(45deg) rotateZ(180deg) scaleX(200%) skew(30deg, 30deg);
}

/*  Animation
*/

.boxani{
    width: 300px;
    height: 300px;
    background-color: mediumspringgreen;
    font-size: 3.1em;
    text-align: center;
    
}

#boxani1{
    background-color: mediumspringgreen;
    animation-name: slideleft;
    animation-duration: 5s;
}
#boxani2{
    background-color: mediumpurple;
    animation-name: slideright;
    animation-duration: 3s;
}
#boxani3{
    background-color: mediumblue;
    animation-name: slideup;
    animation-duration: 4s;
}
#boxani4{
    background-color: lightcoral;
    animation-name: slidedown;
    animation-duration: 6s;
}
#boxani5{
    background-color: yellow;
    animation-name: rotate;
    animation-duration: 4s;
}

#boxani6{
    background-color: orangered;
    animation-name: grow;
    animation-duration: 3s;
}

#boxani7{
    background-color: chartreuse;
    animation-name: shrink;
    animation-duration: 4s;
}

#boxani8{
    background-color: hsl(0, 100%, 50%);
    animation-name: fade;
    animation-duration: 4s;
}

#boxani9{
    background-color: chartreuse;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 6s;
}

#boxani10{
    background-color: hsl(0, 100%, 50%);
    animation-name: colorChange;
    animation-duration: 4s;
}

#boxani11{
    background-color: hsl(135, 95%, 58%);
    animation-name: glow;
    animation-duration: 4s;
}

#boxani12:hover{
    background-color: hsl(310, 100%, 15%);
    animation-name: glow;
    animation-duration: 2s;
}

#boxani13:active{

    animation-name: glow1;
    animation-duration: 2s;
}

@keyframes slideleft{
    from{transform: translateX(700px);}
}

@keyframes slideup{
    from{transform: translateY(700px);}
}

@keyframes slideright{
    from{transform: translateX(-700px);}
}

@keyframes slidedown{
    from{transform: translateY(-700px);}
}

@keyframes rotate{
    50%{transform: rotateZ(360deg);}
}

@keyframes grow{
    75%{transform: scale(2, 2);}
}

@keyframes shrink{
    40%{transform: scale(0.5, 0.5);}
}

@keyframes fade{
    50%{opacity: 0;}
}

@keyframes fadeIn{
    100%{opacity: 1;}
}

@keyframes colorChange{
    0%{background-color: red;}
    20%{background-color: cyan;}
    4%{background-color: greenyellow;}
    60%{background-color: magenta;}
    80%{background-color: crimson;}
    100%{background-color:darkblue;}
}

@keyframes glow{
    50%{box-shadow: 0px 0px 100px magenta;}
}
@keyframes glow1{
    100%{box-shadow: 0px 0px 100px red;}
}

#boxani1a{
    animation-name: slideleft;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    /* animation-timing-function: ease-in-out, ease-in, ease out, normal, steps, etc
    */
}
