body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#btnContainer{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.countBtn{
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 0.6em;
    border-radius: 10%;
    background-color: rgb(120, 162, 252);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color 0.25s;
}

.countBtn:hover{
    background-color:rgb(48, 96, 255);
}   

#rollBtn{
    align-self: center;
    justify-content: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 5px 25px;
}

#rollLabel{
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ifLicense{
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 3px solid blue;
}

#ckdSubmit{
    font-size: 1.5em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}